body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}



.header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    align-self: center;
    margin-left: 80px;
    margin-top: 2px;
}
.links {
    margin-right: 80px;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


.prviDio {
    display: flex;
    margin-top: 70px;
    align-items: center;
    gap: 100px;
    justify-content: center ;
}
.ljevi {
   display: flex;
   flex-direction: column;
   margin-left: 50px;
  align-items: flex-start;
    }
  .desni {
    display: flex;
    margin-right: 200px;
  }  
.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8; 
    width: 350px;
    word-wrap: break-word;    
}
.description {
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
    word-wrap: break-word;
    margin-top: 10px;
}
.button {
    padding: 10px 32px;
    border-radius: 5px;
    border: solid #1f2937;
    margin-top: 15px;
    background-color: #3882F6;
    color: #f9faf8;
}
.placeholder {
    padding: 70px 80px;
    background-color: grey;
}

.drugiDio {
    display: flex;
    flex-direction: column;
    margin:50px 0px;
    align-items: center;
    background-color: white;
    padding: 80px;
}
.information {
    font-size: 50px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 80px;
}
.pics {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.kvadrat {
   padding: 70px;
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 15px;
    
    
    

}
.opisi {
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    width: 660px;
    word-wrap: break-word;
}

.treciDio {
    display: flex;
    flex-direction: column;
    padding: 200px;
    margin-top: -50px;
    background-color: #e5e7eb;
}
.inspire {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    word-wrap: break-word;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}
.autor {
    display: flex;
    font-weight: bold;
    font-size: 40px;
    margin-top: -10px;
    margin-right: -100px;
    align-self: flex-end;
}

.cetvrtiDio {
    padding: 150px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.plaviKv {
    display: flex;
    align-items: flex-start;
    padding: 30px 100px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: center;
    gap: 50px;
}
.plaviText {
    display: flex;
    flex-direction: column;
    margin-left: -60px;
}
.plaviNaslov {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.plaviOpis {
    color: #e5e7eb;
}
.plaviSignup {
    border: solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 21px;
    background-color: #3882F6;
   margin-right: -60px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    align-self: center;
    padding: 20px;
    font: 'Roboto';
}